{% extends 'base.html' %}

{% block content %}
  {% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        </a></li>
      </ol>
    </nav>
  {% endblock %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="{% block section_width %}col-12 col-lg-10 col-xl-9{% endblock %}">        

        <h1 class="section-title mb-5 text-center">
          {% block section_title %}Por favor Agregar un Título{% endblock %}
        </h1>

        {% block section_content %}
          No existe contenido dentro de esta sección
        {% endblock %}

      </div>
    </div>
  </div>
{% endblock %}