{% extends 'layouts/default_section.html' %}
{% load static %}

{% block section_title %}Plantilla de Formas{% endblock %}

{% block section_content %}
  <a href="{% url 'formtemplate_create' %}" class="btn btn-primary py-2 px-4 mb-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
      <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
    </svg>
    Nueva Plantilla
  </a>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      
      <thead class="table">
        <tr>
          <th>Código de Forma</th>
          <th>Nombre</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        {% for formtemplate in object_list %}
          <tr>
            <td class="py-4">{{ formtemplate.form_code }}</td>
            <td class="py-4">{{ formtemplate.label }}</td>
            <td class="py-4">
              {% if formtemplate.is_active %}
                <span class="badge bg-success">Active</span>
              {% else %}
                <span class="badge bg-danger">Inactive</span>
              {% endif %}
            </td>
            <td class="py-4">
              <a href="{% url 'formtemplate_detail' formtemplate.pk %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                Ver
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="text-center text-muted">
              No se encontraron Plantillas
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}